<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置作业类 -->
	<bean id="myjob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="name" value="exampleJob"></property>
		<property name="jobClass" value="com.wangdh.spring.quartz.SpringQtz"></property>
		<property name="jobDataMap">
			<map>
				<entry key="service">
					<value>simple is the beat</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="simpleJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		
		<!-- 具体作业类 -->
		<property name="targetObject">
			<bean class="com.wangdh.spring.quartz.SimpleJob" />
		</property>
		
		<!-- 作业类要执行的方法 -->
		<property name="targetMethod" value="doJob" />
		
		<!-- 作业不并发调度 -->
		<property name="concurrent" value="false" />
	</bean>

	<!-- 配置作业调度的触发方式（触发器） -->
	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<!-- 要执行的作业 -->
		<property name="jobDetail" ref="myjob" />
		
		<!-- 调度工厂实例化后，经过0秒开始执行调度 -->
		<property name="startDelay" value="0" /> 
		
		<!-- 每2秒调度一次 -->	
		<property name="repeatInterval" value="2000" />	
	</bean>

	<!-- 配置作业调度的触发方式（触发器） -->
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 要执行的作业 -->
		<property name="jobDetail" ref="simpleJob" />
		
		<!-- 每5秒运行一次 -->
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>

	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
</beans>